<section id="your-tracks">
  <h3>
    {{ title }}
  </h3>
  <div *ngFor="let track of tracks">
    <ul>
      <li>
        {{track.name}}
      </li>
    </ul>
    <aside>
      <div class="track-details">
        <address>
          <span>Track Location: {{track.location.city}}</span>
          <div class="location-map">
            <span>lon: {{track.location.lon}}</span>
            <span>lat: {{track.location.lat}}</span>
          </div>
        </address>
      </div>
    </aside>
  </div>
</section>