<section id="your-tracks" class="card">
    <h3 class="card-header">
      {{ title }}
    </h3>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table" *ngIf="tracks && tracks.length">
        <thead>
          <tr>
            <th>Track Name</th>
            <th>Track Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of tracks">
            <td>{{track.name}}</td>
            <td><span>lon: {{track.location.lon}}</span><span> lat: {{track.location.lat}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
